// Styling for the masthead
header.masthead {
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(to bottom, #{fade-out(#242222, .4)} 0%, #{fade-out(#242222, .4)} 100%),
  url('https://1.bp.blogspot.com/-A55IQkN_xCI/Xf-DScYa1yI/AAAAAAAAHmw/0Z5Ezpl0D-QztO9eVF37veZF8Eogiq9-wCLcBGAsYHQ/s1600/bg-mast-1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% auto;

  @include media-breakpoint-down(sm) {
    background: linear-gradient(to bottom, #{fade-out($secondary, .4)} 0%, #{fade-out($secondary, .4)} 100%),
    url('https://1.bp.blogspot.com/-Xsnk0lQGhC4/Xfap0STdEyI/AAAAAAAAHfY/8_gWx05QTEssYlH1HtJHIqA4Hu9K1OmjACLcBGAsYHQ/s1600/bg-masterhead3.jpg');
  }

  @include media-breakpoint-up(xl) {
    background-size: auto 115%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-weight: 800;
    color: white;
    font-size: 1.7rem;
  }

  p {
    font-size: 0.95rem;
    color: white;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }

  .btn {
    &:focus {
      outline: none !important;
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
    }
  }

  .btn-blue {
    color: $white;
    background-color: #1473e6;
    padding: 0.5rem 1.2rem;

    &:hover {
      background-color: #0d66d0;
    }
  }

  .btn-red {
    color: $white;
    background-color: $primary;
    padding: 0.5rem 1.2rem;

    &:hover {
      background-color: #df7c19;
    }
  }

  bw {
    color: $gray-100;
    font-weight: 500;
    opacity: 0.85;
  }

  b {
    color: $white;
    background-color: #328ff2;
    opacity: 0.85;
  }

  span {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .popup-img {
    width: 100%;
  }

  #scroll-down {
    background: none;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    i {
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 6.5rem !important;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    height: 75vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.3rem;
    }

    h2 {
      font-size: 1.8rem;
    }
  }
}