// Styling for the masthead
header.masthead {
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  position: relative;
  background-color: $white;
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-weight: 800;
    color: white;
    font-size: 1.7rem;
  }

  p {
    font-size: 0.95rem;
    color: white;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }

  .btn {
    &:focus {
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .btn-blue {
    color: $white;
    background-color: #1473e6;
    padding: 0.5rem 1.2rem;

    &:hover {
      background-color: #0d66d0;
    }
  }

  .btn-red {
    color: $white;
    background-color: $primary;
    padding: 0.5rem 1.2rem;

    &:hover {
      background-color: #df7c19;
    }
  }

  bw {
    color: $gray-100;
    font-weight: 500;
    opacity: 0.85;
  }

  b {
    color: $white;
    background-color: #328ff2;
    opacity: 0.85;
  }

  span {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .popup-img {
    width: 100%;
  }

  #scroll-down {
    background: none;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    i {
      font-size: 18px;
    }
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: auto;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container,
  .container-fluid {
    position: relative;
    z-index: 2;
  }

  .overlay {
    //background-color: linear-gradient(to bottom, #{fade-out(#242222, .4)} 0%, #{fade-out(#242222, .4)} 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #242222;
    opacity: 0.4;
    z-index: 1;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 7.5rem !important;

    h1 {
      margin-top: 1rem;
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    video {
      position: relative;
      top: 5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    height: 75vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
  }

  

  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.3rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    video {
      min-width: auto;
      min-height: 100%;
      width: auto;
      height: 100%;
    }
  }
}